.redactor-toolbar, .redactor-dropdown {
  z-index: 1000 !important;
}

.isIframe,
.redactor-editor {
  [data-geolp] {
    opacity: 1 !important;
    outline-style dashed
    outline-width 1px
    outline-offset -2px
    outline-color #cccccc
    position: relative
    &::before {
      content: attr(data-geolp)
      position: absolute
      left: -2px
      top: 100%
      margin-top: 1px
      font-size: 9px
      line-height: 8px
      color: #cccccc
    }
  }
}