.redactor-toolbar,
.redactor-dropdown {
  z-index: 1000 !important;
}
[data-multi-name] {
  outline-style: dashed;
  outline-width: 1px;
  outline-offset: -2px;
  outline-color: #ccc;
  position: relative;
}
[data-multi-name]::before {
  content: attr(data-multi-name);
  position: absolute;
  left: -2px;
  top: 100%;
  margin-top: 1px;
  font-size: 9px;
  line-height: 8px;
  color: #ccc;
}
